{% extends "temp/layout.html" %}
{% load static %}
{% block body %}
	<div id="contents">
		<div class="section">
			<h1>Drop us a line.</h1>
			<p>
				We'd loved to hear from you.
			</p>
			<form action="{% url 'temp:contact' %}" method="POST" class="message">
				{% csrf_token %}
				<input type="text" placeholder="Name" name="name" onFocus="this.select();" onMouseOut="javascript:return false;" required/>
				<input type="email" placeholder="Email Address" name="email" onFocus="this.select();" onMouseOut="javascript:return false;" required/>
				<input type="text" placeholder="Subject" name="subject" onFocus="this.select();" onMouseOut="javascript:return false;" required/>
				<textarea name="desc"></textarea>
				<input type="submit" value="Send"/>
			</form>
		</div>
	</div>
{% endblock %}