{% extends "temp/layout.html" %}
{% load static %}
{% block body %}
<div class="content">
     <form name="form1" id="form1" action="/action_page.php">
      Subjects: <select name="subject" id="subject">
        <option value="" selected="selected">Select subject</option>
      </select>

      Topics: <select name="topic" id="topic">
        <option value="" selected="selected">Please select subject first</option>
      </select>

      Chapters: <select name="chapter" id="chapter">
        <option value="" selected="selected">Please select topic first</option>
      </select>

      <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}