{% extends "temp/layout.html" %}
{% load static %}
{% block body %}

<div id="contents">

    {% if status %}
        <h1>Agent is connected</h1>
    {% endif %}
    {% if status == False %}
        <h1>Agent is disconnected</h1>
    {% endif %}
       <form name="form0" id="form0" action="" class="form0" method="POST">
           {% csrf_token %}
           {% if serverstatus == False %}
               <h1>{{ message }} <a href="{% static 'temp/agent.exe' %}">this link:</a></h1>
               <input name="run" type="submit" value="Start" onclick="waitingclient()">
               <h1 id="waitingclient" style="display:none;">Waiting for client to connect...</h1>

           {% endif %}
           {% if serverstatus %}
               <h1>{{ message }}</h1>
               <input name="stop" type="submit" value="Stop">
           {% endif %}
       </form>

       <form name="form1" id="form1" action="" class="form1" method="POST">
            {% csrf_token %}
          <select name="tactic" id="tactic" required>
            <option value="" selected="selected">Choose a Tactics</option>
          </select>
          <select name="technique" id="technique" required>
            <option value="" selected="selected">Choose a technique</option>
          </select>

          <select name="action" id="action" required>
            <option value="" selected="selected">Choose an action</option>
          </select>
          <input name="form1" type="submit" value="Run">
       </form>
<!--    <form name="form3" id="form3" action="" class="form3" method="POST">-->
<!--            {% csrf_token %}-->
<!--          <select name="adversary" id="adversary" required>-->
<!--            <option value="" selected="selected">Choose an adversary</option>-->
<!--            <option value="">REvil</option>-->
<!--          </select>-->
<!--          <input name="form3" type="submit" value="Run">-->
<!--       </form>-->
       <form name="form2" id="form2" action="" class="form2" method="POST">
          {% csrf_token %}
          <input id="manualcommand" value="" type="text" name="command" required placeholder="Enter your command...">
          <input name="mannualcommand" type="submit" value="Run">
       </form>
    <div class="adversaryresults">
        <table>
            <th>Tactic</th>
            <th>Technique</th>
            <th>Action</th>
            <th>Command</th>
            <th>Possible Detection</th>
            <th>Result</th>

            <tr>
                {% for item in result %}
                <td>{{ item }}</td>
                {% endfor %}
		    </tr>

        </table>
<!--        <p>-->
<!--            {{ command }}-->
<!--        </p>-->
<!--        {% for item in result %}-->
<!--            <p>-->
<!--			{{ item }}-->
<!--		    </p>-->
<!--            <a>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</a>-->
<!--        {% endfor %}-->
<!--        <p>-->
<!--            {{ possibledetection }}-->
<!--		</p>-->
    </div>

</div>
<script>
var subjectObject = {
  "Discovery": {
    "System owner/user discovery": ["Current user", "Identify active user", "Gat admin members", "Get service accounts", "System owner/user discovery"],
    "CSS": ["Borders", "Margins", "Backgrounds", "Float"],
    "JavaScript": ["Variables", "Operators", "Functions", "Conditions"]
  },
  "Back-end": {
    "PHP": ["Variables", "Strings", "Arrays"],
    "SQL": ["SELECT", "UPDATE", "DELETE"]
  }
}
window.onload = function() {
  var subjectSel = document.getElementById("tactic");
  var topicSel = document.getElementById("technique");
  var chapterSel = document.getElementById("action");
  for (var x in subjectObject) {
    subjectSel.options[subjectSel.options.length] = new Option(x, x);
  }
  subjectSel.onchange = function() {
    //empty Chapters- and Topics- dropdowns
    chapterSel.length = 1;
    topicSel.length = 1;
    //display correct values
    for (var y in subjectObject[this.value]) {
      topicSel.options[topicSel.options.length] = new Option(y, y);
    }
  }
  topicSel.onchange = function() {
    //empty Chapters dropdown
    chapterSel.length = 1;
    //display correct values
    var z = subjectObject[subjectSel.value][this.value];
    for (var i = 0; i < z.length; i++) {
      chapterSel.options[chapterSel.options.length] = new Option(z[i], z[i]);
    }
  }
}
var waitingclient = function() {

    document.getElementById('waitingclient').style.display = "block";
}
</script>
{% endblock %}