{% extends "temp/layout.html" %}
{% load static %}
{% block body %}
<div class="contents">

       <form name="form1" id="form1" action="/action_page.php" class="form1">
          <select name="tactic" id="tactic">
            <option value="" selected="selected">Choose a Tactics</option>
          </select>

          <select name="technique" id="technique">
            <option value="" selected="selected">Choose a technique</option>
          </select>

          <select name="platform" id="platform">
            <option value="" selected="selected">Choose a platform</option>
          </select>

          <input type="submit" value="Run">
       </form>
    <div class="results">
        <p>
			 results
		</p>
    </div>

</div>
{% endblock %}