{% extends "temp/layout.html" %}
{% load static %}
{% block body %}
	<div id="contents">
		<div class="features">
			<h1>Threat Simulation</h1>
			{% if flag %}
			<link href="{% static 'temp/style.css' %}" rel="stylesheet">
			<p>
				You have to login to use this feature. Please login or register via corner box of the site.
			</p>
			{% endif %}
			{% if flag == False %}
			<link href="{% static 'temp/loginstyle.css' %}" rel="stylesheet">
			{% endif %}
			</div>
		</div>
	</div>
{% endblock %}