{% extends "temp/layout.html" %}
{% load static %}
{% block body %}
                     <div id="contents">
                        <button type="button" class="collapsible">Ask a question</button>
							<div class="mycascade">
								<button type="button" class="collapsible">Do you have any web site on public?</button>
								<button type="button" class="collapsible">Do your clients have access to Internet?</button>
									<div class="mycascade">

									</div>

							</div>
						 <button type="button" class="collapsible">Perform background search</button>
							<div class="mycascade">
								<button type="button" class="collapsible">What source of information do you required?</button>
								<button type="button" class="collapsible">How is capability of your existing tools?</button>
								<button type="button" class="collapsible">Do research from different sources such as intelligent services.</button>
								<button type="button" class="collapsible">Produce the appropriate conditions that need to exist for an event to take place.</button>
									<div class="mycascade">

									</div>

							</div>
						 <button type="button" class="collapsible">Construct hypothesis</button>
							<div class="mycascade">
								<button type="button" class="collapsible">Attempt to predict the outcome of subsequent experiments</button>
								<button type="button" class="collapsible">Find the stated indictors associated with your background research.</button>
									<div class="mycascade">

									</div>

							</div>
						 <button type="button" class="collapsible">Test the hypothesis through experiments</button>
							<div class="mycascade">
								<button type="button" class="collapsible">Do I have the tools and data sets to either prove or disprove my hypothesis?</button>
								<button type="button" class="collapsible">What experiments do I need to conduct to reach that conclusion?</button>
								<button type="button" class="collapsible">Take an inventory of the tools and systems that are available at an analyst's disposal?</button>
									<div class="mycascade">

									</div>

							</div>
						 <button type="button" class="collapsible">Analyze the results of the experiments and conclude</button>
							<div class="mycascade">
								<button type="button" class="collapsible">Compare a conclusion against your original hypothesis.</button>
								<button type="button" class="collapsible">Reproduce the results repeatedly.</button>
								<button type="button" class="collapsible">Be confident that the original hypothesis was correct.</button>
								<button type="button" class="collapsible">communicate the results.</button>
									<div class="mycascade">

									</div>

							</div>
						 <button type="button" class="collapsible">Report the results</button>
							<div class="mycascade">
								<button type="button" class="collapsible">Who is the audience of for the report?</button>
								<button type="button" class="collapsible">What is essential to include?</button>
								<button type="button" class="collapsible">Is there an active threat in your network?</button>
								<button type="button" class="collapsible">Do you need to start any incident response procedure?</button>
									<div class="mycascade">

									</div>

							</div>
					 </div>

			<script>

				var coll = document.getElementsByClassName("collapsible");
				var i;

				for (i = 0; i < coll.length; i++) {
				  coll[i].addEventListener("click", function() {
					this.classList.toggle("active");
					var content = this.nextElementSibling;
					if (content.style.display === "block") {
					  content.style.display = "none";
					} else {
					  content.style.display = "block";
					}
				  });
				}
				function expand() {
				var coll = document.getElementsByClassName("collapsible");
				var i;

				for (i = 0; i < coll.length; i++) {
				  	coll[i].classList.toggle("active");
					var content = coll[i].nextElementSibling;
					if (content.style.display === "block") {
					  content.style.display = "none";
					} else {
					  content.style.display = "block";
					}
				  ;
				}
				}
			</script>
{% endblock %}