{% extends "temp/layout.html" %}
{% load static %}
{% block body %}
	<div id="contents">
		<div class="features">
			<h1>Beyond the Hats.</h1>
			<div>
				<p>
					This place is your future. Increase your visionary about cyber security and threat hunting by :
				</p>
				<div class="homebullet">
					<img src="{% static 'temp/images/home2.png' %}" alt="Img">
<!--						<ul>-->
<!--							<li>Level up your knowledge with latest threat hunting news.</li>-->
<!--							<li>Practise using Life cycle attacks in real world.</li>-->
<!--							<li>Write your comments or upload new contents and increase yours rank between threat hunters.</li>-->
<!--							<li>Sell your hunting rules to other hunters and earn money.</li>-->
<!--						</ul>-->
					<p>
						Level up your knowledge with latest threat hunting articles.
					</p>
					<p>
						Practise using Life cycle of attacks in real world.
					</p>
					<p>
						Write your comments or upload new contents and increase yours rank between threat hunters.
					</p>
					<p>
						Sell your hunting rules to other hunters and earn money.
					</p>
					<p>
						Discover new Tactics, Techniques and Procedures.
					</p>
				</div>
			</div>
			<div>
				<h1>So, what is the threat hunting?</h1>
				<p>
					<a href="https://www.crowdstrike.com/cybersecurity-101/threat-hunting/">(Crowdstrike)</a>	Threat hunting is the practice of proactively searching for cyber threats that are lurking undetected in a network. Cyber threat hunting digs deep to find malicious actors in your environment that have slipped past your initial endpoint security defenses.
				</p>
				<p>
					<a href="https://www.mcafee.com/enterprise/en-us/security-awareness/operations/what-is-cyber-threat-hunting.html">(McAfee)</a>	Cyber threat hunting is a proactive security search through networks, endpoints, and datasets to hunt malicious, suspicious, or risky activities that have evaded detection by existing tools. Thus, there is a distinction between cyber threat detection versus cyber threat hunting. Threat detection is a somewhat passive approach to monitoring data and systems for potential security issues, but it’s still a necessity and can aid a threat hunter. Proactive cyber threat hunting tactics have evolved to use new threat intelligence on previously collected data to identify and categorize potential threats in advance of attack.
				</p>
				<p>
					<a href="https://awakesecurity.com/glossary/threat-hunting/">(AWAKE)</a>	Threat hunting is the process of an experienced cybersecurity analyst proactively using manual or machine-based techniques to identify security incidents or threats that currently deployed automated detection methods didn’t catch.
				</p>
				<p>
					<a href="https://www.cisco.com/c/en/us/products/security/endpoint-security/what-is-threat-hunting.html">(CISCO)</a>	Threat hunting is when computer security experts actively look for and root out cyber threats that have secretly penetrated their computer network. Threat hunting involves looking beyond the known alerts or malicious threats to discover new potential threats and vulnerabilities.
				</p>
				<p>
					<a href="https://www.checkpoint.com/cyber-hub/cloud-security/what-is-threat-hunting/">(Check Point)</a>	Threat hunting is the practice of searching for cyber threats that might otherwise remain undetected in your network. According to Infosec, “Cyberthreat hunting can be quite similar to real-world hunting. It requires a uniquely skilled professional possessed of considerable patience, critical thinking, creativity and a keen eye for spotting prey, usually in the form of network behavior abnormalities.”
				</p>
			</div>
		</div>
	</div>
{% endblock %}