{% load static %}
<!DOCTYPE HTML>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Purple Diamond</title>
<!--			{% if flag %}-->
<!--			<link href="{% static 'temp/style.css' %}" rel="stylesheet">-->
<!--			{% endif %}-->
<!--			{% if flag == False %}-->
<!--			<link href="{% static 'temp/loginstyle.css' %}" rel="stylesheet">-->
<!--			{% endif %}-->
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script type="text/javascript" async="" src="{% static 'temp/matrix/analytics.js"></script><script async="" src="Matrix%20-%20Enterprise%20|%20MITRE%20ATT&amp;CK%C2%AE_files/js.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-62667723-1');
    </script>
    <meta name="google-site-verification" content="2oJKLqNN62z6AOCb0A0IXGtbQuj-lev5YPAHFF_cbHQ">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="https://attack.mitre.org/theme/favicon.ico" type="image/x-icon">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'temp/matrix/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'temp/matrix/bootstrap-glyphicon.css' %}">
        <link rel="stylesheet" href="{% static 'temp/matrix/bootstrap-tourist.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'temp/matrix/style.css' %}">
	    <script src="{% static 'temp/main.js' %}"></script>

</head>
<body>
	<div id="header">
		<div>
			<div class="logo">
				<a href="{% url 'temp:index' %}">Purple diamond</a>
			</div>
			<ul id="navigation">
				<li>
					<a href="{% url 'temp:index' %}">Home</a>
				</li>
				<li>
					<a href="{% url 'temp:feature' %}">Threat Simulation</a>
				</li>
				<li>
					<a href="{% url 'temp:mitrematrix' %}">MITRE Matrix</a>
				</li>
				<li>
					<a href="{% url 'temp:news' %}">Resources</a>
				</li>
<!--				<li>-->
<!--					<a href="{% url 'temp:about' %}">About</a>-->
<!--				</li>-->
				<li>
					<a href="{% url 'temp:contact' %}">Contact</a>
				</li>
				<li>
					<a href="{% url 'temp:register' %}">Register</a>
				</li>
			</ul>
		</div>
	</div>
{% block body %}
{% endblock %}
			{% if flag %}
			<div>
				<button class="open-button" onclick="openForm()">Login</button>
				<div class="form-popup" id="myForm">
				  <form action="{% url 'temp:logging' %}" class="form-container" method="POST">
					{% csrf_token %}
					<h1>Login</h1>
					<label for="email"><b>Username</b></label>
					<input type="text" placeholder="Enter username" name="username" required>
					<label for="psw"><b>Password</b></label>
					<input type="password" placeholder="Enter Password" name="password" required>
					<button type="submit" class="btnlogin">Login</button>
					<button type="button" class="cancellogin" onclick="closeForm()">Close</button>
				  </form>
				</div>
			</div>
			{% endif %}
			{% if flag == False %}
			<div>
				<button class="open-button" onclick="openForm()">Logout ({{ user.username }})</button>
				<div class="form-popup" id="myForm">
				  <form action="{% url 'temp:log_out' %}" class="form-container">
					<button type="submit" class="btnlogin">Logout</button>
					<button type="button" class="cancellogin" onclick="closeForm()">Close</button>
				  </form>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	<div id="footer">
		<div class="clearfix">
			<div id="connect">
				<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a><a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a><a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a><a href="http://www.freewebsitetemplates.com/misc/contact/" target="_blank" class="tumbler"></a>
			</div>
			<p>
				© 2021 Purple Diamond. All Rights Reserved.
			</p>
		</div>
	</div>
</body>
</html>