{% extends "temp/layout.html" %}
{% load static %}
{% block body %}
	<div id="contents">
		<div class="section">
			<h1>Contact</h1>
			<p>
				You can simply register in our website. Just fill out the following form and click on submit.
			</p>
			<form action="{% url 'temp:register' %}" method="POST" class="message">
				{% csrf_token %}
				<input type="text" placeholder="Name" name="name" onFocus="this.select();" onMouseOut="javascript:return false;"/>
				<input type="text" placeholder="Email" name="email" onFocus="this.select();" onMouseOut="javascript:return false;"/>
				<input type="password" placeholder="Enter Password" name="password" onFocus="this.select();" onMouseOut="javascript:return false;"/>
				<input type="password" placeholder="Confirm Password"  name="confirmpassword" onFocus="this.select();" onMouseOut="javascript:return false;"/>
				<input type="submit" value="Submit"/>
			</form>
		</div>

	</div>
{% endblock %}