{% extends "temp/layout.html" %}
{% load static %}
{% block body %}
	<div id="contents">
		<div class="main">
			<h1>News</h1>
			<ul class="news">
				{% for post in posts %}
				<li>
					<div class="date">
						<p>
							<span>{{ post.month }}</span>
							{{ post.year }}
						</p>
					</div>
					<h2>{{ post.topic}}<span>{{ post.reference }}</span></h2>
					<p>
						{{ post.content }} <span><a href="{% url 'temp:post_detail' post.pk%}" class="more">Read More</a></span>
					</p>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="sidebar">
			<h1>Popular Posts</h1>
			<ul class="posts">
				<li>
					<h4 class="title"><a href="{% url 'temp:post' %}">Making It Work</a></h4>
					<p>
						I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.
					</p>
				</li>
				<li>
					<h4 class="title"><a href="{% url 'temp:post' %}">Designs and Concepts</a></h4>
					<p>
						I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.
					</p>
				</li>
				<li>
					<h4 class="title"><a href="{% url 'temp:post' %}">Getting It Done!</a></h4>
					<p>
						I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.
					</p>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}