{% extends "temp/layout.html" %}
{% load static %}
{% block body %}
	<div id="contents">
		<div class="main">
			<h1>News</h1>

			<ul class="news">
				{% for post in posts %}
				<li>
<!--					<div class="date">-->
<!--						<p>-->
<!--							<span>{{ post.month }}</span>-->
<!--							{{ post.year }}-->
<!--						</p>-->
<!--					</div>-->
					<h2>{{ post.topic}}<span>{{ post.reference }}</span></h2>
					<p>
						{{ post.content | slice:":255"}}... <span><a href="{% url 'temp:post_detail' post.pk%}" class="more">Read More</a></span>
					</p>
				</li>
				{% endfor %}
			</ul>
			<div class="pagination">
				<span class="step-links">
					{% if posts.has_previous %}
						<a href="?page=1">&laquo; first</a>
						<a href="?page={{ posts.previous_page_number }}">previous</a>
					{% endif %}
					{% if posts.has_previous == False %}
						<a>&laquo; first</a>
						<a>previous</a>
					{% endif %}

					<span class="current">
						<a>Page {{ posts.number }} of {{ posts.paginator.num_pages }}.</a>
					</span>

					{% if posts.has_next %}
						<a href="?page={{ posts.next_page_number }}">next</a>
						<a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
					{% endif %}
					{% if posts.has_next == False %}
						<a>next</a>
						<a>last &raquo;</a>
					{% endif %}
				</span>
			</div>
		</div>
		<div class="sidebar">
			<h1>Popular Posts</h1>
			<ul class="posts">
				<li>
					<h4 class="title"><a href="{% url 'temp:post' %}">Making It Work</a></h4>
					<p>
						I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.
					</p>
				</li>
				<li>
					<h4 class="title"><a href="{% url 'temp:post' %}">Designs and Concepts</a></h4>
					<p>
						I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.
					</p>
				</li>
				<li>
					<h4 class="title"><a href="{% url 'temp:post' %}">Getting It Done!</a></h4>
					<p>
						I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.
					</p>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}