{% extends 'temp/layout.html' %}
{% load static %}
{% block body %}
  <div class="header">
    <div class="columns">
      <ul class="price">
        <li class="header">Free</li>
        <li class="grey">$ Free </li>
        <li>10GB Storage</li>
        <li>10 Emails</li>
        <li>10 Domains</li>
        <li>1GB Bandwidth</li>
        <li class="grey"><a href="#" class="button">Sign Up</a></li>
      </ul>
    </div>
    <div class="columns">
      <ul class="price">
        <li class="header">Blue Diamond</li>
        <li class="grey">$ 9.99 / year</li>
        <li>10GB Storage</li>
        <li>10 Emails</li>
        <li>10 Domains</li>
        <li>1GB Bandwidth</li>
        <li class="grey"><a href="#" class="button">Sign Up</a></li>
      </ul>
    </div>
    <div class="columns">
      <ul class="price">
        <li class="header">Red Diamond</li>
        <li class="grey">$ 9.99 / year</li>
        <li>10GB Storage</li>
        <li>10 Emails</li>
        <li>10 Domains</li>
        <li>1GB Bandwidth</li>
        <li class="grey"><a href="#" class="button">Sign Up</a></li>
      </ul>
    </div>
    <div class="columns">
      <ul class="price">
        <li class="header">Royal Diamond</li>
        <li class="grey">$ 14.99 / year</li>
        <li>10GB Storage</li>
        <li>10 Emails</li>
        <li>10 Domains</li>
        <li>1GB Bandwidth</li>
        <li class="grey"><a href="#" class="button">Sign Up</a></li>
      </ul>
    </div>
  </div>
{% endblock %}